*                   text    eol=lf

.gitattributes              export-ignore
.gitignore                  export-ignore

*.afdesign                  binary
*.jpg                       binary
*.png                       binary
*.svg                       text
